# Visual Studio
*.gch
*.pch
*.user
*.ncb
*.suo
*.sdf
*.pdb
*.idb

# Compiled Object files
*.o
*.obj

# Compiled Libraries
*.a
*.so

# Directories
Debug/
Release/
make/
.obj
analysis
build
coverage
libs
profile

# Eclipse Project
.cproject
.project

#KDevelop project
.kdev4/
*.kdev4

# Executables
*-analysis
*-coverage
*-debug
*-profile
*-release

# Ignored Files/Folders
.cccc
*.db
*.lcov
.settings
valgrind.out
valgrind.xml
